.gradient-background {
    background: linear-gradient(300deg, #91C8E4, #9BE8D8, #4682A9);
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .icon-square {
    height: 100;
    border-radius: 25%;
  }

  #navigationBar {
    font-family: 'Borel', cursive;
    font-weight: bold;
    position: relative;
    width: 200vh;
  }

  #navigationBar li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  /*Botones*/
  .CharlasTalleresBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .envelope-svg {
    margin-right: 4px;
  }

  #linkAgendarCalendly {
    text-decoration: none;
    color: black;
  }

  #linkContactanos {
    text-decoration: none;
    color: white;
  }

  span:hover {
    color: black;
  }

  #footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
  }

  /*Seccion de Prefuntas Frecuentes*/
  .container-divider {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
  }

  .container-faqs {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
  }

  #article-container {
    display: flex;
    flex-direction: column;
  }

  .article {
    flex: 1 0 auto;
  }

  .article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}

  .article-info {
    max-width: 100%;
  }

  .article-content {
    line-height: 1.6;
    margin: 40px 0;
    word-wrap: break-word;
}

/*Footer*/
#footer-faqs {
  margin-top: 349px;
}